build/
node_modules/
deployments/
scripts/
deploy/
tasks/
tasks/*
.secret
.secret-testnet
.env
artifacts
cache
package-lock.json
yarn.lock
yarn-error.log
core_contracts.json
hardhat.config.js
.idea/
**/.DS_Store
